{{ $emotion := resources.Get "js/404/emotion.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $emotion.RelPermalink }}" integrity="{{ $emotion.Data.Integrity }}" crossorigin="anonymous"></script>
<script>
  (function() {
    window.error404.init({
      emotions: {{ if isset .Site.Params.error404 "emotions" }}{{ .Site.Params.error404.emotions | jsonify | safeJS }}{{ else }}null{{ end }},
      jediChance: {{ if isset .Site.Params.error404 "jediChance" }}{{ .Site.Params.error404.jediChance }}{{ else }}1{{ end }}
    });
  })();
</script>
